/* Fondo global del proyecto React */
.catalogo-fondo {
    background:
        linear-gradient(135deg, rgba(37, 35, 33, 0.7), rgba(67, 16, 16, 0.7)),
        url("/img/bg.jpg") center/cover no-repeat;
    padding-top: 40px;
    padding-bottom: 60px;
}


/* Fondo global del cuerpo en React */
body {
    background:
        linear-gradient(135deg, rgba(37, 35, 33, 0.8), rgba(67, 16, 16, 0.8)),
        url("%PUBLIC_URL%/img/catalogo/bg.jpg") center/cover no-repeat;

    font-family: "Poppins", sans-serif;
    color: #3b2f2f;
}

.modal {
    display: none !important;
}
