{% extends 'core/base.html' %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <label>Tipo de solicitud</label>
    <select name="tipo" required>
        <option value="Petición">Petición</option>
        <option value="Queja">Queja</option>
        <option value="Reclamo">Reclamo</option>
        <option value="Sugerencia">Sugerencia</option>
    </select>

    <label>Asunto</label>
    <input type="text" name="asunto" placeholder="Asunto" required>

    <label>Mensaje</label>
    <textarea name="mensaje" placeholder="Escribe tu mensaje..." required></textarea>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
{% endblock %}
