{% extends 'core/base.html' %}

{% block title %}Gestión de Pedidos{% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/ventas/gestion_pedidos.css' %}">
<div class="container mt-5">
    <h2>🛠 Gestión de Pedidos</h2>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th># Pedido</th>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Total</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
            <tr>
                <td>{{ pedido.id }}</td>

                <!-- Cliente -->
                <td>{{ pedido.usuario.nombre_usuario }}</td>

                <!-- Fecha -->
                <td>{{ pedido.fecha_pedido|date:"d/m/Y H:i" }}</td>

                <!-- Total -->
                <td>${{ pedido.total }}</td>

                <!-- Cambiar estado -->
                <td>
                    <form method="post" action="{% url 'ventas:actualizar_estado' pedido.id %}">
                        {% csrf_token %}
                        <select name="estado" class="form-select form-select-sm" onchange="this.form.submit()">

                            <option value="Pendiente" {% if pedido.estado == "Pendiente" %}selected{% endif %}>Pendiente</option>
                            <option value="Pagado" {% if pedido.estado == "Pagado" %}selected{% endif %}>Pagado</option>
                            <option value="Enviado" {% if pedido.estado == "Enviado" %}selected{% endif %}>Enviado</option>
                            <option value="Entregado" {% if pedido.estado == "Entregado" %}selected{% endif %}>Entregado</option>
                            <option value="Cancelado" {% if pedido.estado == "Cancelado" %}selected{% endif %}>Cancelado</option>

                        </select>
                    </form>
                </td>

                <!-- Factura -->
                <td>
                    <a href="{% url 'ventas:factura_pdf' pedido.id %}" 
                       class="btn btn-sm btn-outline-primary" 
                       target="_blank">
                        🧾 Ver Factura
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
