{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}VineFresh{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <!-- 🔹 Incluye el navbar -->
    {% include 'core/navbar.html' %}

    <!-- 🔹 Contenido dinámico -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- 🔹 Incluye el footer -->
    {% include 'core/footer.html' %}

</body>
</html>
