{% extends 'base.html' %}
{% block content %}
<h2 class="text-center my-4">Reseñas de Productos</h2>
{% if rol == 'cliente' %}
  <a href="{% url 'reseñas:nueva_reseña' %}" class="btn btn-success mb-3">Agregar Reseña</a>
{% endif %}
<div class="list-group">
  {% for r in reseñas %}
    <a href="{% url 'reseñas:detalle_reseña' r.id %}" class="list-group-item list-group-item-action">
      <strong>{{ r.usuario.nombre }}</strong> reseñó <em>{{ r.producto.nom_producto }}</em>:
      ⭐{{ r.calificacion }} <br>
      <small>{{ r.comentario }}</small>
    </a>
  {% endfor %}
</div>
{% endblock %}
