{% extends 'core/base.html' %}

{% block title %}Panel del Cliente{% endblock %}

{% block content %}
<div class="container">
    <h2>Bienvenido {{ usuario.nombre_usuario }}</h2>
    <p>Desde aquí puedes ver tus compras, reseñas y cupones activos.</p>

    <ul>
        <li><a href="">Historial de compras</a></li>
        <li><a href="">Mis reseñas</a></li>
        <li><a href="">Contactar soporte</a></li>
        <li><a href="">Editar perfil</a></li>
    </ul>

    <a href="{% url 'logout' %}" class="btn btn-danger mt-3">Cerrar sesión</a>
</div>
{% endblock %}
