<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <!-- Navbar -->
    {% include 'catalogo/navbar.html' %}

    <!-- Sidebar -->
    {% include 'catalogo/sidebar.html' %}

    <!-- Contenido principal -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    {% include 'catalogo/footer.html' %}

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
